---
import FacescapeDemo from './FacescapeDemo.tsx';
---

<article>
  <p class="text-xl lg:text-2xl text-gray-300 mb-6 text-pretty">
    Como estudiante de <span class="text-purple-400"
      >Informática y Telecomunicaciones</span
    > en la Universidad Diego Portales, mi enfoque principal es el <span
      class="text-purple-400">desarrollo de software</span
    > y la <span class="text-purple-400">infraestructura de redes</span>. No me
    limito a aprender; busco activamente aplicar mi conocimiento para crear
    soluciones eficientes. Me apasiona la resolución de problemas, especialmente
    en el ámbito del desarrollo de software.
  </p>

  <p class="text-xl lg:text-2xl text-gray-300 mb-8 text-pretty">
    Mi interés por la tecnología es integral. Fuera del código, disfruto de
    actividades prácticas. También soy un aficionado a los videojuegos de
    estrategia y shooters donde busco un punto de relajación.
  </p>

  <div class="mb-10">
    <h3 class="text-2xl font-semibold mb-4">Habilidades</h3>

    <FacescapeDemo client:visible />
  </div>
</article>
