---
import Layout from '../layouts/Layout.astro';
import LuvMain from '../components/luvmain/luvmain.astro';
import Experience from '../components/experience/experience.astro';
import SectionContainer from '../components/utils/SectionContainer.astro';
---

<Layout 
title="Porfolio de luvaldev | Desarrollador"
description='Estudiante de Informática y Telecomunicaciones'  
>
  <main>
    <SectionContainer class="py-44 pb-25">
      <LuvMain />
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-6">Experiencia</h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
