---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="ProyectoUDP">
  <head>
    <!-- Incluye Bootstrap -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body style="background-color: #EFE5D5;">
    <!-- Barra de navegación -->
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: #D8C2A3;">
      <a class="navbar-brand" href="#">
        <img
          src="/resources/logo.png"
          alt="Logotipo"
          class="img-fluid"
          style="max-height: 60px;"
        />
      </a>

      <div
        class="collapse navbar-collapse d-flex justify-content-center"
        id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item mx-2">
            <a class="nav-link text-center" href="#">Catálogo</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link text-center" href="#">Productos</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link text-center" href="#">HOMOSEXUAL</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link text-center" href="#">Contacto</a>
          </li>
        </ul>
      </div>

      <!-- Zona de íconos SVG -->
      <div class="d-flex align-items-center ml-auto">
        <a href="" class="mx-2" aria-label="Enlace 1">
          <img
            src="/resources/imgPrueba.svg"
            alt="Icono 1"
            class="img-fluid"
            style="height: 30px;"
          />
        </a>
        <a href="" class="mx-2" aria-label="Enlace 2">
          <img
            src="/resources/imgPrueba.svg"
            alt="Icono 2"
            class="img-fluid"
            style="height: 30px;"
          />
        </a>
        <a href="" class="mx-2" aria-label="Enlace 3">
          <img
            src="/resources/imgPrueba.svg"
            alt="Icono 3"
            class="img-fluid"
            style="height: 30px;"
          />
        </a>
        <a href="" class="mx-2" aria-label="Enlace 4">
          <img
            src="/resources/imgPrueba.svg"
            alt="Icono 4"
            class="img-fluid"
            style="height: 30px;"
          />
        </a>
      </div>
    </nav>

    <!-- Sección de productos -->
    <div class="container mt-4">
      <div class="row">
        <!-- Producto 1 -->
        <div class="col-md-3 mb-4">
          <div class="card">
            <img
              src="https://via.placeholder.com/150"
              class="card-img-top"
              alt="Producto 1"
            />
            <div class="card-body">
              <h5 class="card-title">Producto 1</h5>
              <p class="card-text">Descripción breve del producto 1.</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <!-- Producto 2 -->
        <!-- Repite para los demás productos -->
      </div>
    </div>

    <!-- Footer -->
    <footer style="background-color: #A79277;" class="text-white py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h5 class="mb-3">Catálogo</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Producto 1</a></li>
              <li><a href="#" class="text-white">Producto 2</a></li>
              <li><a href="#" class="text-white">Producto 3</a></li>
            </ul>
          </div>
          <!-- Añade el contenido adicional aquí -->
        </div>
      </div>
    </footer>
  </body>
</Layout>
