---
import '../../public/styles.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevPort</title>
    <link rel="stylesheet" href="../../public/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <a href="#" class="logo"> luvaldev</a>

      <nav>
        <a href="#" class="active"> Home</a>
        <a href="#"> Service</a>
        <a href="#"> Skills</a>
        <a href="#"> Education</a>
        <a href="#"> Contact</a>
      </nav>
    </header>

    <section class="home">
      <div class="home-img">
        <img src="/rsc/main.jpg" alt="Imagen principal" />
      </div>
      <div class="home-content">
        <h1>Hola! Soy <span>Luis</span></h1>
        <h3 class="typing-text">Yo soy <span></span></h3>
        <p>hola mucho gusto</p>
        <div class="social-icons">
          <a href="#"> <i class="fa-brands fa-linkedin"></i></a>
          <a href="#"> <i class="fa-brands fa-github"></i></a>
          <a href="#"> <i class="fa-brands fa-x-twitter"></i></a>
          <a href="#"> <i class="fa-brands fa-instagram"></i></a>
        </div>
        <a href="#" class="btn">Hire me</a>
      </div>
    </section>
  </body>
</html>
