<header
  class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto px-4 lg:px-0">
  <a href="#top" class="z-50">
    <img
      class="rounded-full w-12 h-12"
      src="/resources/profile-logo.webp"
      alt="luvaldev photo"
    />
  </a>

  <nav class="hidden lg:flex flex-row gap-x-10 opacity-80">
    <a href="#top">Inicio</a>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#contacto">Contacto</a>
  </nav>

  <button id="menu-btn" class="lg:hidden p-2 text-white z-50">
    <svg
      id="menu-icon-open"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
    <svg
      id="menu-icon-close"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 hidden"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>

  <div
    id="mobile-menu"
    class="hidden lg:hidden fixed inset-0 bg-neutral-950 z-40">
    <nav
      class="flex flex-col items-center justify-center h-full gap-y-8 text-2xl opacity-80">
      <a href="#top" class="menu-link">Inicio</a>
      <a href="#sobre-mi" class="menu-link">Sobre mí</a>
      <a href="#experiencia" class="menu-link">Experiencia</a>
      <a href="#proyectos" class="menu-link">Proyectos</a>
      <a href="#contacto" class="menu-link">Contacto</a>
    </nav>
  </div>
</header>

<script>
  const menuBtn = document.getElementById('menu-btn');
  const mobileMenu = document.getElementById('mobile-menu');
  const openIcon = document.getElementById('menu-icon-open');
  const closeIcon = document.getElementById('menu-icon-close');
  const menuLinks = document.querySelectorAll('.menu-link');

  function toggleMenu() {
    // Comprueba si los elementos existen antes de manipularlos
    if (mobileMenu) {
      mobileMenu.classList.toggle('hidden');

      // Bloquear/desbloquear scroll
      if (mobileMenu.classList.contains('hidden')) {
        document.body.style.overflow = 'auto';
      } else {
        document.body.style.overflow = 'hidden';
      }
    }

    if (openIcon) {
      openIcon.classList.toggle('hidden');
    }

    if (closeIcon) {
      closeIcon.classList.toggle('hidden');
    }
  }

  // Comprueba si el botón existe antes de añadir el listener
  if (menuBtn) {
    menuBtn.addEventListener('click', toggleMenu);
  }

  // No se necesita un null check para menuLinks,
  // querySelectorAll devuelve una lista vacía si no encuentra nada,
  // y el forEach simplemente no se ejecutará.
  menuLinks.forEach(link => {
    link.addEventListener('click', toggleMenu);
  });
</script>
