---
import ExperienceItem from './experienceItem.astro';

const EXPERIENCE = [
  {
    date: 'February 13th, 2022',
    title: 'Flowbite Application UI v2.0.0',
    description:
      'Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.',
    link: '#',
    message: 'New',
  },
  {
    date: 'March 13th, 2022',
    title: 'Flowbite Application UI v2.0.1',
    description:
      'Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.',
    message: 'New',
  },
  {
    date: 'April 13th, 2022',
    title: 'Flowbite Application UI v2.0.2',
    description:
      'Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.',
    message: 'New',
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map(experience => (
      <li class="mb-10 ms-6">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
