<a
  href="https://github.com/luvaldev"
  target="_blank"
  rel="noopener"
  class="flex justify-center items-center">
  <span
    class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">
    <slot />
</a>
